.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group{
  margin : 10px;
}

input{
  padding: 10px;
  border-radius: 5px;
}

.alert{
  color : red
}

.boxtitle{
  font-size: 15px;
  margin: 0;
}

.inputboxLong{
  width: 95%;
}

.inline{
  display: flex;
  width: 100%;
  gap: 30px;
}

.inputboxShort1{
  display: flex;
  width: 45%;
}

.inputboxShort2{
  display: inline-block;
  width: 42%;
}

button{
  width: 520px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  background-color: rgb(150, 150, 150);
}